    $light-pink: hsl(275, 100%, 97%);
    $grayish-purple: hsl(292, 16%, 49%);
    $dark-purple: hsl(292, 42%, 14%);
    $shadow-purple: hsla(292, 16%, 49%, 0.33);
    $strong-purple: hsl(281, 83%, 54%);

@font-face {
    font-family: 'Work Sans';
    src: url(./assets/fonts/WorkSans-VariableFont_wght.ttf) format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;

    background-color: $light-pink;
    font-family: 'Work Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    p {
        font-size: .9rem;
        color: $grayish-purple;
        margin: 0;
        line-height: 1.5;

        @media only screen and (min-width: 376px) {
            font-size: .94rem;
        }
    }
    button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }
    hr {
        color: $light-pink;
        width: calc(100% - 3rem);
    }
}

.bg {
    position: absolute;
    height: 33%;
    width: 100%;
    align-self: flex-start;

    @media only screen and (min-width: 376px) {
        height: 34%;
    }
    
    z-index: 5;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

main {
    width: clamp(327.333px, 80%, 540px);
    min-height: 60%;
    border-radius: .5rem;
    
    background-color: white;
    
    position: relative;
    z-index: 10;
    box-shadow: 0 2rem 2rem 0 $shadow-purple;
}

#faq {
    h1 {
        display: inline-block;
        margin: 0;

        font-size: 2rem;
        color: $dark-purple;

        @media only screen and (min-width: 376px) {
            font-size: 3rem;
        }
    }

    h2 {
        font-size: 1rem;
        color: $dark-purple;
    }

    div {
        margin: 1.5rem;
    }

    .header {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        img {
            width: 25px;
            height: 25px;

            @media only screen and (min-width: 376px) {
                width: 34px;
                height: 34px;
            }
        }
    }
        
    .qna {
        margin: 1rem 1.5rem;

        button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;

            width: 100%;
            
            text-align: left;

            &:hover,
            &:focus {
                h2 { color: $strong-purple; }
            }
        }
    }

    .response {
        visibility: hidden;
        height: 0;

        margin: 0;
    }
}

.show {
    visibility: visible !important;
    height: 100% !important;

    p {
        margin: .75rem 0 1.5rem 0 !important;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding-bottom: .5rem;
    
    a { color: hsl(228, 45%, 44%); }
}